/****************************************************************************************/
/*************** [COLOR CODES] GREEN:#248fff LIGHT GREEN:#4ea4fe *****************/
/****************************************************************************************/


QWidget#containerWidget {
background-color:qlineargradient(x1:0,y1:1,x2:1,y2:0,stop:0 #1e2d3e,stop:1 #365577);
margin:0;
padding:0;
}
QWidget#mainframeWidget {
background-color:#15202d;
margin:0;
padding:0;
}

#StatusBar{
  background-color:qlineargradient(x1:0,y1:0,x2:0,y2:1,stop:0 #15202d,stop:1 #1e2d3e);
  color:#fff;
  height:25px;
}
.QFrame {
background-color:transparent;
border:0px solid #fff;
}
QMenuBar{
  background-color:#1e2d3e;
  padding-top:14px;
}
QMenuBar::item{
  spacing:2px;
  padding:3px 4px;
  background-color:#1e2d3e;
  color:#fff;
}
QMenuBar::item:selected{
  background-color:#15202d;
  border-left:1px solid rgba(106,106,106,127);
  border-right:1px solid rgba(106,106,106,127);
}
QMenuBar::item:pressed{
  background-color:#787878;
  border-left:1px solid rgba(25,25,25,127);
  border-right:1px solid rgba(25,25,25,127);
}
QMenu{
  background-color:#15202d;
  border:1px solid rgb(20,20,20);
  color:#fff;
}
QMenu::item{
  padding:3px 25px 3px 25px;
  border:1px solid transparent;
}
QMenu::item:disabled{
  background-color:rgba(35,35,35,127);
  color:rgb(127,127,127);
}
QMenu::item:selected{
  background:#787878;
}
QMenu::icon:checked{
  background-color:#787878;
  border:1px solid rgb(42,130,218);
  border-radius:2px;
}
QMenu::separator{
  height:1px;
  background:#fff;
  margin-left:5px;
  margin-right:5px;
}
QMenu::indicator{
  width:18px;
  height:18px;
}
QToolBar {
  background:transparent;
  padding:0;
  margin:0;
}

QToolBar > QToolButton {
  padding:4px 6px;
  min-height:2.5em;
  margin:0px -12px;
  font-weight:bold;
  width:80px;
  color: rgba(0, 0, 0, 0);
}
QToolBar#Home-Toolbar {
  background-color:#1e2d3e;
  border-radius:15px;
  padding:0px;
  margin:0px;
  padding-top:40px;
  padding-bottom:0px;
  padding-left:28px;
  padding-right:28px;
}

QToolBar#Main-Toolbar {
  background-color:qlineargradient(x1:0,y1:0,x2:0,y2:1,stop:0 #25a2db,stop:1 #2b68b2);
  padding:0;
  margin:0;
  height:100%;
}

QToolBar#Main-Toolbar > QToolButton {
  padding:4px 6px;
  min-height:2em;
  margin:4px;
  font-weight:bold;
  width:200px;
  color: #fff;
  margin-left:15px;
  margin-right:0px;
}

QWidget#Headbar {
background-color:#1e2d3e;
border-top:1px solid #15202d;
}
QGridLayout#gridLayout_3 {
  border-top:1px solid #15202d;
}


QToolBar#Main-Toolbar > QToolButton:checked {
  font-weight:bold;
  border-top-left-radius:6px;
  border-bottom-left-radius:6px;
  background-color:rgba(255,255,255,29);
}
QToolBar#Main-Toolbar > QToolButton:hover {
  font-weight:bold;
  border-top-left-radius:6px;
  border-bottom-left-radius:6px;
  background-color:rgba(255,255,255,29);
}

QToolBar#Home-Toolbar > QToolButton {
  margin:0px;
  width:96px;
  padding:0px;
}

QToolBar#Home-Toolbar > QToolButton:checked {
  background-color:transparent;
}
QToolBar#Home-Toolbar > QToolButton:hover {
  color:#fff;
  font-weight:bold;
  background-color:transparent;
}


QMainWindow::separator{
  width:6px;
  height:5px;
  padding:2px;
}
QSplitter::handle:horizontal{
  width:10px;
}
QSplitter::handle:vertical{
  height:10px;
}
QMainWindow::separator:hover,QSplitter::handle:hover{
  background:rgb(42,130,218);
}
QDockWidget::title{
  padding:4px;
  background-color:qlineargradient(x1:0,y1:1,x2:0,y2:0,stop:0 rgba(25,25,25,127),stop:1 rgba(53,53,53,75));
  border:1px solid rgba(25,25,25,75);
  border-bottom:2px solid rgba(25,25,25,75);
}
QDockWidget{
  titlebar-close-icon:url(:/icons/icon_close);
  titlebar-normal-icon:url(:/icons/icon_restore);
}
QDockWidget::close-button,QDockWidget::float-button{
  subcontrol-position:top right;
  subcontrol-origin:margin;
  position:absolute;
  top:3px;
  bottom:0px;
  width:20px;
  height:20px;
}
QDockWidget::close-button{
  right:3px;
}
QDockWidget::float-button{
  right:25px;
}

QMessageBox {
  background-color:#F8F6F6;
}

QProgressBar {
  color:#d2d2d2;
  border:2px solid grey;
  border-radius:5px;
  background-color:transparent;
}
QProgressBar::chunk {
  background-color:#4ea4fe;
  width: 20px;
}
QTabWidget::pane{
  background-color:#1e2d3e;
  background:#1e2d3e;
  border-top:1px solid #787878;
}
QTabWidget::tab-bar{
  left:3px;
  top:1px;
}
QTabWidget QWidget{
  color:#fff;
}
#tabKYC{
  background-color:#1e2d3e;
}
#tabKYC QHBoxLayout{
  background-color:#1e2d3e;
}
#tabMain{
  background-color:#1e2d3e;
}
#tabWallet{
  background-color:#1e2d3e;
}
#tabNetwork{
  background-color:#1e2d3e;
}
#tabWindow{
  background-color:#1e2d3e;
}
#tabDisplay{
  background-color:#1e2d3e;
}
#tab_info{
  background-color:#1e2d3e;
}
#tab_console{
  background-color:#1e2d3e;
}
#tab_nettraffic{
  background-color:#1e2d3e;
}
#tab_peers{
  background-color:#1e2d3e;
}
#tab_repair{
  background-color:#1e2d3e;
}
#addMultisigTab{
  background-color:#1e2d3e;
}
#createTransactionTab{
  background-color:#1e2d3e;
}
#signMultisigTransaction{
  background-color:#1e2d3e;
}
#tabBip38Encrypt{
  background-color:#1e2d3e;
}
#tabBip38Decrypt{
  background-color:#1e2d3e;
}
#tabSignMessage{
  background-color:#1e2d3e;
}
#tabVerifyMessage{
  background-color:#1e2d3e;
}

#horizontalLayoutWidget{
  background:transparent;
}
#horizontalLayoutWidget_2{
  background:transparent;
}
#horizontalLayoutWidget_3{
  background:transparent;
}

#destinationsScrollAreaContents{
  background-color:#1e2d3e;
}
#addAddressWidget{
  background-color:#1e2d3e;
}
#txInputsWidget{
  background-color:#1e2d3e;
}

#detailWidget{
  background-color:#787878;
}
#personalKYC{
  background-color:#1e2d3e;
}

QTabWidget .QCheckBox{
  color:#fff;
}
QTabBar{
  background-color:transparent;
  border-bottom:1px solid rgba(25,25,25,50%);
}
QTabBar::tab{
  padding:4px 6px;
  background-color:qlineargradient(x1:0,y1:1,x2:0,y2:0,stop:0 #1e2d3e,stop:1 #474744);
  border:1px solid #787878;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}
QTabBar::tab:selected,QTabBar::tab:hover{
  background-color:qlineargradient(x1:0,y1:0,x2:0,y2:1,stop:0 #272724,stop:1 #1e2d3e);
  border-bottom-color:#787878;
}
QTabBar::tab:selected{
  border-bottom:2px solid #787878;
}
QTabBar::tab::selected:disabled{
  border-bottom:2px solid rgb(127,127,127);
}
QTabBar::tab:!selected{
  margin-top:2px;
}
QTreeView, QTableView{
  alternate-background-color:rgb(53,53,53);
  background:#1e2d3e;
  color:#fff;
}
QTreeView QHeaderView::section, QTableView QHeaderView::section{
  background-color:qlineargradient(x1:0,y1:1,x2:0,y2:0,stop:0 #32465c,stop:1 #3d4a5c);
  border-style:none;
  border-bottom:1px solid rgb(35,35,35);
  padding-left:5px;
  padding-right:5px;
}
QTreeView::item:selected:disabled, QTableView::item:selected:disabled{
  background:rgb(80,80,80);
}
QTreeView::branch{
  background-color:rgb(42,42,42);
}
QTreeView::branch:has-siblings:!adjoins-item{
  border-image:url(:/icons/icon_vline) 0;
}
QTreeView::branch:has-siblings:adjoins-item{
  border-image:url(:/icons/icon_branch_more) 0;
}
QTreeView::branch:!has-children:!has-siblings:adjoins-item{
  border-image:url(:/icons/icon_branch_end) 0;
}
QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings{
  border-image:none;
  image:url(:/icons/icon_branch_closed);
}
QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings{
  border-image:none;
  image:url(:/icons/icon_branch_open);
}
QScrollBar:vertical{
  background:rgb(42,42,42);
  border-top-right-radius:2px;
  border-bottom-right-radius:2px;
  width:16px;
  margin:0px;
}
QScrollBar::handle:vertical{
  background-color:rgb(66,66,66);
  border-radius:2px;
  min-height:20px;
  margin:2px 4px 2px 4px;
}
QScrollBar::handle:vertical:hover{
  background-color:rgb(42,130,218);
}
QScrollBar::add-line:vertical{
  background:none;
  height:0px;
  subcontrol-position:right;
  subcontrol-origin:margin;
}
QScrollBar::sub-line:vertical{
  background:none;
  height:0px;
  subcontrol-position:left;
  subcontrol-origin:margin;
}
QScrollBar:horizontal{
  background:rgb(42,42,42);
  height:16px;
  margin:0px;
}
QScrollBar::handle:horizontal{
  background-color:rgb(66,66,66);
  border-radius:2px;
  min-width:20px;
  margin:4px 2px 4px 2px;
}
QScrollBar::handle:horizontal:hover{
  background-color:rgb(42,130,218);
}
QScrollBar::add-line:horizontal{
  background:none;
  width:0px;
  subcontrol-position:bottom;
  subcontrol-origin:margin;
}
QScrollBar::sub-line:horizontal{
  background:none;
  width:0px;
  subcontrol-position:top;
  subcontrol-origin:margin;
}
QSlider::handle:horizontal{
  border-radius:4px;
  border:1px solid rgba(25,25,25,255);
  background-color:rgb(66,66,66);
  min-height:20px;
  margin:0 -4px;
}
QSlider::handle:horizontal:hover{
  background:rgb(42,130,218);
}
QSlider::add-page:horizontal{
  background:rgb(42,42,42);
}
QSlider::sub-page:horizontal{
  background:rgb(42,130,218);
}
QSlider::sub-page:horizontal:disabled{
  background:rgb(80,80,80);
}

.QFrame#frame_RecentTransactions{
  padding:4px 6px;
  border-radius:6px;
  margin:4px;
  color:#fff;
  background-color:#1e2d3e;
}
.QFrame#frame_ZerocoinBalances{
  padding:4px 6px;
  border-radius:6px;
  margin:4px;
  color:#fff;
  background-color:#1e2d3e;
}
.QFrame#frame_CombinedBalances{
  padding:4px 6px;
  border-radius:6px;
  margin:4px;
  color:#fff;
  background-color:#1e2d3e;
}
.QFrame#frame_Balances{
  padding:4px 6px;
  border-radius:6px;
  margin:4px;
  color:#fff;
  background-color:#1e2d3e;
}

QWidget {
selection-background-color:#4ea4fe; /* Object highlight color */
selection-color:#fff;
outline:0; /* Remove Annoying Focus Rectangle */
}

QGroupBox{
  background-color:rgba(66,66,66,50%);
  margin-top:27px;
  border:1px solid rgba(25,25,25,127);
  border-radius:4px;
}
QGroupBox::title{
  subcontrol-origin:margin;
  subcontrol-position:left top;
  padding:4px 6px;
  margin-left:3px;
  background-color:qlineargradient(x1:0,y1:1,x2:0,y2:0,stop:0 rgba(25,25,25,127),stop:1 rgba(53,53,53,75));
  border:1px solid rgba(25,25,25,75);
  border-bottom:2px solid rgb(127,127,127);
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}
QToolTip{
  color:#ffffff;
  background-color:rgb(42, 42, 42);
  border:1px solid rgb(42, 130, 218);
  border-radius:4px;
}

QTextEdit {
background-color:#29394b;
border:1px solid #787878;
color:#fff;
}

/****************************************************************************************/

QLabel { /* Base Text Size & Color */
font-size:12px;
color:#f0f0f0;
}

.QRadioButton { /* Radio Button Labels */
color:#f0f0f0;
}

.QCheckBox { /* Checkbox Labels */
color:#f0f0f0;
background-color:transparent;
}

.QCheckBox:hover {
background-color:transparent;
}

.QValidatedLineEdit, .QLineEdit { /* Text Entry Fields */
background-color:#29394b;
border:none;
border-bottom:1px solid #3b485b;
border-top-left-radius:4px;
border-top-right-radius:4px;
color:#fff;
font-size:11px;
min-height:25px;
outline:0;
padding:3px;
}

.QLineEdit:!focus {
font-size:12px;
}

.QValidatedLineEdit:disabled, .QLineEdit:disabled {
background-color:#787878;
}

/****************************************************************************************/

QPushButton { /* Global Button Style */
background-color:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #2A3E8F, stop: 1 #00ACED);
border:0;
border-radius:8px;
color:#ffffff;
font-size:12px;
font-weight:bold;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
min-height:25px;
}

QPushButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #233477, stop: 1 #0696CC);
}

QPushButton:focus {
border:none;
outline:none;
}

QPushButton:pressed {
border:1px solid #333;
}

QComboBox { /* Dropdown Menus */
border:none;
border-bottom:1px solid #3b485b;
border-top-left-radius:4px;
border-top-right-radius:4px;
padding: 3px 5px 3px 5px;
background:#29394b;
min-height:25px;
color:#fff;
}

QComboBox:checked {
background:#29394b;
color:#fff;
}

QComboBox:editable {
background:#29394b;
color:#fff;
border:0px solid transparent;
}

QComboBox::drop-down {
width:25px;
border:none;
}

QComboBox::down-arrow {
border-image: url(':/images/downArrow') 0 0 0 0 stretch stretch;
}

QComboBox QListView {
background:#29394b;
border:1px solid #787878;
padding-right:1px;
padding-left:1px;
color:#fff;
}

QComboBox QAbstractItemView::item {
margin:4px;
}

QComboBox::item {
color:#fff;
}

QComboBox::item:alternate {
background:#fff;
}

QComboBox::item:selected {
border:0px solid transparent;
background:#f2f2f2;
}

QComboBox::indicator {
background-color:transparent;
selection-background-color:transparent;
color:transparent;
selection-color:transparent;
}

QAbstractSpinBox {
border:none;
border-bottom:1px solid #3b485b;
border-top-left-radius:4px;
border-top-right-radius:4px;
padding: 3px 5px 3px 5px;
background:#29394b;
min-height:25px;
color:#fff;
}

QAbstractSpinBox::up-button {
subcontrol-origin: border;
subcontrol-position: top right;
width:21px;
background:#29394b;
border:none;
border-top-right-radius:4px;
padding-right:1px;
padding-left:5px;
padding-top:2px;
}

QAbstractSpinBox::up-arrow {
border-image: url(':/images/upArrow_small_white') 0 0 0 0 stretch stretch;
}

QAbstractSpinBox::down-button {
subcontrol-origin: border;
subcontrol-position: bottom right;
width:21px;
background:#29394b;
border:none;
border-bottom:1px solid #3b485b;
padding-right:1px;
padding-left:5px;
padding-bottom:2px;
}

QAbstractSpinBox::down-arrow {
border-image: url(':/images/downArrow_small_white') 0 0 0 0 stretch stretch;
}

/****************************************************************************************/
QPlainTextEdit {
    background-color: #29394b;
}

QHeaderView { /* Table Header */
background-color:#808080;
outline:0;
}

QHeaderView::section { /* Table Header Sections */
qproperty-alignment:center;
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 0.25, stop: 0 #248fff, stop: 1 #4ea4fe);
color:#fff;
min-height:25px;
font-weight:bold;
font-size:11px;
border:0;
border-right:1px solid #fff;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
}

QHeaderView::section:last {
border-right:0;
}

.QScrollArea {
background:transparent;
border:0;
}

.QTableView { /* Table - has to be selected as a class otherwise it throws off QCalendarWidget */
background-color:#29394b;
border:1px solid #333;
}

QTableView::item { /* Table Item */
background-color:#29394b;
font-size:12px;
}

QTableView::item:selected { /* Table Item Selected */
background-color:#4ea4fe;
color:#fff;
}

QTableWidget { /* Table Background */
color:#fff;
background:transparent;
border:0;
}

QTableWidget#tableWidgetMyMasternodes QTableView::item { /* Table Item */
background-color:#29394b;
}


QTableWidget:focus, QTableView, QTableView:focus { /* Remove focus outline */
outline:0;
background:transparent;
}

QTreeWidget { /* Tree Background */
background-color:#29394b;
alternate-background-color:#787878;
color:#fff;
}

QScrollBar { /* Scroll Bar */

}

QScrollBar:vertical { /* Vertical Scroll Bar Attributes */
border:0;
background:#ffffff;
width:18px;
margin:18px 0px 18px 0px;
}

QScrollBar:horizontal { /* Horizontal Scroll Bar Attributes */
border:0;
background:#ffffff;
height:18px;
margin:0px 18px 0px 18px;
}


QScrollBar::handle:vertical { /* Scroll Bar Slider - vertical */
background:#e0e0e0;
min-height:10px;
}

QScrollBar::handle:horizontal { /* Scroll Bar Slider - horizontal */
background:#e0e0e0;
min-width:10px;
}

QScrollBar::add-page, QScrollBar::sub-page { /* Scroll Bar Background */
background:#F8F6F6;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical, QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal { /* Define Arrow Button Dimensions */
background-color:#F8F6F6;
border: 1px solid #f2f0f0;
width:16px;
height:16px;
}

QScrollBar::add-line:vertical:pressed, QScrollBar::sub-line:vertical:pressed, QScrollBar::add-line:horizontal:pressed, QScrollBar::sub-line:horizontal:pressed {
background-color:#e0e0e0;
}

QScrollBar::sub-line:vertical { /* Vertical - top button position */
subcontrol-position:top;
subcontrol-origin: margin;
}

QScrollBar::add-line:vertical { /* Vertical - bottom button position */
subcontrol-position:bottom;
subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal { /* Vertical - left button position */
subcontrol-position:left;
subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal { /* Vertical - right button position */
subcontrol-position:right;
subcontrol-origin: margin;
}

QScrollBar:up-arrow, QScrollBar:down-arrow, QScrollBar:left-arrow, QScrollBar:right-arrow { /* Arrows Icon */
width:10px;
height:10px;
}

QScrollBar:up-arrow {
background-image: url(':/images/upArrow_small');
}

QScrollBar:down-arrow {
background-image: url(':/images/downArrow_small');
}

QScrollBar:left-arrow {
background-image: url(':/images/leftArrow_small');
}

QScrollBar:right-arrow {
background-image: url(':/images/rightArrow_small');
}

QSlider::handle:horizontal {
background-color:#f2f2f2;
border:1px solid #c2c2c2;
border-radius:10px;
}

QSlider::sub-page:horizontal {
background-color:#4ea4fe;
border-color:#c2c2c2;
border-radius:3px;
}

QSlider::add-page:horizontal {
background-color:#dedede;
border:1px solid #c2c2c2;
border-radius:3px;
}

/**************************** DIALOG BOXES **********************************************/

QDialog {
background-color: #1e2d3e;
}

QDialog#SendCoinsDialog {
background-color: transparent;
}
QWidget#ReceiveCoinsDialog {
background-color: transparent;
}
QWidget#PrivacyDialog {
background-color: transparent;
}

QDialog .QTabWidget {
border-bottom:1px solid #333;
}

QDialog .QTabWidget::pane {
border: 1px solid #d7d7d7;
}

QDialog .QTabWidget QTabBar::tab {
background-color:#f2f0f0;
color:#333;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
border-top: 1px solid #d7d7d7;
}

QDialog .QTabWidget QTabBar::tab:first {
border-left: 1px solid #d7d7d7;
}

QDialog .QTabWidget QTabBar::tab:last {
border-right: 1px solid #d7d7d7;
}

QDialog .QTabWidget QTabBar::tab:selected, QDialog .QTabWidget QTabBar::tab:hover {
background-color:#ffffff;
color:#333;
}

QDialog .QTabWidget .QWidget {
background-color:#fff;
color:#333;
}

QDialog .QTabWidget .QWidget QAbstractSpinBox {
min-height:15px;
}

QDialog .QTabWidget .QWidget QAbstractSpinBox::down-button {
width:15px;
}

QDialog .QTabWidget .QWidget QAbstractSpinBox::up-button {
width:15px;
}

QDialog .QTabWidget .QWidget QComboBox {
min-height:15px;
}

/**************************** FILE MENU *************************************************/

/* Dialog: Open URI */
QDialog#OpenURIDialog QLabel#label { /* URI Label */
font-weight:bold;
}

QDialog#OpenURIDialog QPushButton#selectFileButton { /* ... Button */
background-color:transparent;
border:1px solid #fff;
color:#fff;
padding-left:10px;
padding-right:10px;
}

QDialog#OpenURIDialog QPushButton#selectFileButton:hover {
color:#c0c0c0;
}

QDialog#OpenURIDialog QPushButton#selectFileButton:pressed {
border:1px solid #9e9e9e;
}

/**************************** SIGN/ VERIFY MESSAGE DIALOG *******************************/

QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_SM { /* Address Book Button */
background-color:transparent;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPlainTextEdit { /* Message Signing Text */
border:1px solid #787878;
background-color:#29394b;
color:#fff;
}

QDialog#SignVerifyMessageDialog QPushButton#pasteButton_SM { /* Paste Button */
/* qproperty-icon: url(":/icons/editpaste"); */
background-color:transparent;
padding-left:15px;
}

QDialog#SignVerifyMessageDialog QLineEdit:!focus { /* Font Hack */
font-size:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#copySignatureButton_SM { /* Copy Button */
/* qproperty-icon: url(":/icons/editcopy"); */
background-color:transparent;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM { /* Clear Button */
background-color:transparent;
border:1px solid #fff;
color:#fff;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM:hover {
color:#c0c0c0;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM:pressed {
border:1px solid #9e9e9e;
}

QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_VM { /* Verify Message - Address Book Button */
background-color:transparent;
border:0;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM { /* Verify Message - Clear Button */
background-color:transparent;
border:1px solid #fff;
color:#fff;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM:hover {
color:#c0c0c0;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM:pressed {
border:1px solid #9e9e9e;
}

/**************************** SEND AND RECEIVE DIALOG ***********************************/

QWidget#AddressBookPage {
background-color:#1e2d3e;
}

QWidget#AddressBookPage QPushButton#newAddress { /* New Address Button */
background-color:transparent;
border:1px solid #fff;
color:#fff;
padding-left:10px;
padding-right:10px;
}

QWidget#AddressBookPage QPushButton#newAddress:hover {
color:#c0c0c0;
}

QWidget#AddressBookPage QPushButton#newAddress:pressed {
border:1px solid #9e9e9e;
}

QWidget#AddressBookPage QPushButton#copyAddress { /* Copy Address Button */
background-color:transparent;
border:1px solid #fff;
color:#fff;
padding-left:10px;
padding-right:10px;
}

QWidget#AddressBookPage QPushButton#copyAddress:hover {
color:#c0c0c0;
}

QWidget#AddressBookPage QPushButton#copyAddress:pressed {
border:1px solid #9e9e9e;
}

QWidget#AddressBookPage QPushButton#deleteAddress { /* Delete Address Button */
background-color:transparent;
border:1px solid #fff;
color:#fff;
padding-left:10px;
padding-right:10px;
}

QWidget#AddressBookPage QPushButton#deleteAddress:hover {
color:#c0c0c0;
}

QWidget#AddressBookPage QPushButton#deleteAddress:pressed {
border:1px solid #9e9e9e;
}

QWidget#AddressBookPage QTableView { /* Address Listing */
font-size:12px;
color:#fff
}

QWidget#AddressBookPage QHeaderView::section { /* Min width for Windows fix */
min-width:260px;
}

/**************************** Privacy Dialog ********************************************/


QWidget#PrivacyDialog QFrame {
  padding:4px 6px;
  margin:4px;
  color:#fff;
}

QWidget#PrivacyDialog QFrame#labelMintStatus {
/* background-color:transparent; */
background-color:#eee;
/* border-style: inset; */
/* border-width:2; */
/* border:2px solid #00; */
border: 1px inset gray;
}

QWidget#PrivacyDialog QLabel {
border:0px solid #000;
}

QWidget#PrivacyDialog QLabel#zANKLabel {
font-size:14px;
color:#ffffff;
background-color:#4ea4fe;
}

QWidget#PrivacyDialog QLabel#oANKLabel {
font-size:14px;
color:#ffffff;
background-color:#4ea4fe;
}



QWidget#PrivacyDialog QProgressBar#obfuscationProgress { /* Obfuscation Completion */
border: 1px solid #818181;
border-radius: 1px;
margin-right:43px;
text-align: right;
color:#818181;
}

QWidget#PrivacyDialog QProgressBar#obfuscationProgress::chunk {
background-color: #248fff;
width:1px;
}

/**************************** SETTINGS MENU *********************************************/

/* Encrypt Wallet and Change Passphrase Dialog */
QDialog#AskPassphraseDialog QLabel#passLabel1, QDialog#AskPassphraseDialog QLabel#passLabel2, QDialog#AskPassphraseDialog QLabel#passLabel3 {
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:170px;
min-height:33px; /* base width of 25px for QLineEdit, plus padding and border */
}

/* Options Dialog */
QDialog#OptionsDialog QValueComboBox, QDialog#OptionsDialog QSpinBox {
margin-top:5px;
margin-bottom:5px;
}

QDialog#OptionsDialog QValidatedLineEdit, QDialog#OptionsDialog QValidatedLineEdit:disabled, QDialog#OptionsDialog QLineEdit, QDialog#OptionsDialog QLineEdit:disabled {
qproperty-alignment: 'AlignVCenter | AlignLeft';
min-height:20px;
margin-top:0px;
margin-bottom:0px;
padding-top:1px;
padding-bottom:1px;
}

QDialog#OptionsDialog > QLabel {
qproperty-alignment: 'AlignVCenter';
min-height:20px;
}

QDialog#OptionsDialog QWidget#tabDisplay QValueComboBox {
margin-top:0px;
margin-bottom:0px;
}

QDialog#OptionsDialog QLabel#label_3 { /* Translations Missing? Label */
qproperty-alignment: 'AlignVCenter | AlignCenter';
color:#818181;
padding-bottom:8px;
}

QDialog#OptionsDialog QCheckBox {
min-height:20px;
}

QDialog#OptionsDialog QCheckBox#displayAddresses {
min-height:33px;
}

/**************************** TOOLS MENU ************************************************/

QDialog#RPCConsole QWidget#tab_info QLabel#label_11, QDialog#RPCConsole QWidget#tab_info QLabel#label_10 { /* Margin between Network and Block Chain headers */
qproperty-alignment: 'AlignBottom';
min-height:25px;
min-width:180px;
}

QDialog#RPCConsole QWidget#tab_peers QLabel#peerHeading { /* Peers Info Header */
color:#248fff;
}

QDialog#RPCConsole QTableView#peerWidget::item { /* Peers Table Items */
color:#fff;
}

QDialog#RPCConsole QPushButton#openDebugLogfileButton {
max-width:60px;
}

QDialog#RPCConsole QTextEdit#messagesWidget { /* Console Messages Window */
border:0;
background-color:#fcfcfc;
color:#333;
}

QDialog#RPCConsole QLineEdit#lineEdit { /* Console Input */
margin-right:5px;
}

QDialog#RPCConsole QPushButton#clearButton { /* Console Clear Button */
background-color:transparent;
padding-left:10px;
padding-right:10px;
}

QDialog#RPCConsole .QGroupBox #line { /* Network In Line */
background-color:#4ea4fe;
}

QDialog#RPCConsole .QGroupBox #line_2 { /* Network Out Line */
background:#fff;
}

/**************************** HELP MENU *************************************************/

/* Command Line Options Dialog */
QDialog#HelpMessageDialog QScrollArea * {
background-color:#1e2d3e;
}
QDialog#HelpMessageDialog QScrollBar:vertical, QDialog#HelpMessageDialog QScrollBar:horizontal {
border:0;
}

/* About Anker Dialog */
QDialog#AboutDialog QLabel#label, QDialog#AboutDialog QLabel#copyrightLabel, QDialog#AboutDialog QLabel#label_2 { /* About Anker Contents */
margin-left:10px;
}

QDialog#AboutDialog QLabel#label_2 { /* Margin for About Anker text */
margin-right:10px;
}

/* Edit Address Dialog */
QDialog#EditAddressDialog QLabel {
qproperty-alignment: 'AlignVCenter | AlignRight';
min-height:27px;
font-weight:normal;
padding-right:5px;
}

/**************************** OVERVIEW SCREEN *******************************************/

QWidget QListView { 
background-color:#909090;
color:#333333;
}


QWidget .QFrame#frame { /* Wallet Balance */
min-width:490px;
color:#f0f0f0;
}

QWidget .QFrame#frame > .QLabel {
min-width:190px;
font-weight:normal;
min-height:30px;
color:#248fff;
}

QWidget .QFrame#frame .QLabel#label_5 { /* ANK Balances Label */
qproperty-alignment: 'AlignVCenter | AlignLeft';
min-width:160px;
background-color:transparent;
color:#248fff;
font-weight:bold;
font-size:14px;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame .QLabel#labelWalletStatus { /* Wallet Sync Status */
qproperty-alignment: 'AlignVCenter | AlignLeft';
margin-left:3px;
}

QWidget .QFrame#frame .QLabel#labelSpendable { /* Spendable Header */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:18px;
}

QWidget .QFrame#frame .QLabel#labelWatchonly { /* Watch-only Header */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:16px;
}

QWidget .QFrame#frame .QLabel#labelBalanceText { /* Available Balance Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#4ea4fe;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;
min-height:35px;
}

QWidget .QFrame#frame .QLabel#labelBalance { /* Available Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
font-weight:bold;
color:#4ea4fe;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchAvailable { /* Watch-only Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:16px;
}

QWidget .QFrame#frame .QLabel#labelPendingText { /* Pending Balance Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#4ea4fe;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;
min-height:35px;
}

QWidget .QFrame#frame .QLabel#labelUnconfirmed { /* Pending Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchPending { /* Watch-only Pending Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:16px;
}

QWidget .QFrame#frame .QLabel#labelImmatureText { /* Immature Balance Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#4ea4fe;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;
min-height:35px;
}

QWidget .QFrame#frame .QLabel#labelImmature { /* Immature Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchImmature { /* Watch-only Immature Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:16px;
}

QWidget .QFrame#frame .QLabel#labelTotalText { /* Total Balance Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#4ea4fe;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;
min-height:35px;
}

QWidget .QFrame#frame .QLabel#labelTotal { /* Total Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchTotal { /* Watch-only Total Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:16px;
}

QWidget .QFrame#frame_4 .QLabel#label_5z_3 { /* Zerocoin Balance Label */
qproperty-alignment: 'AlignVCenter | AlignLeft';
min-width:160px;
background-color:transparent;
color:#248fff;
font-weight:bold;
font-size:14px;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame_4 .QLabel#labelzBalanceText { /* Available zANK Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#4ea4fe;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;
/* min-height:35px; */
}

QWidget .QFrame#frame_4 .QLabel#labelzBalance { /* Available zANK Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
font-weight:bold;
color:#4ea4fe;
margin-left:0px;
}

QWidget .QFrame#frame_4 .QLabel#labelzBalanceUnconfirmedText { /* Unconfirmed zANK Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#4ea4fe;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;
/* min-height:35px; */
}

QWidget .QFrame#frame_4 .QLabel#labelzBalanceUnconfirmed { /* Unconfirmed zANK Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
font-weight:bold;
color:#4ea4fe;
margin-left:0px;
}

QWidget .QFrame#frame_4 .QLabel#labelzBalanceMatureText { /* Mature zANK Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#4ea4fe;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;
/* min-height:35px; */
}

QWidget .QFrame#frame_4 .QLabel#labelzBalanceMature { /* Mature zANK Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
font-weight:bold;
color:#4ea4fe;
margin-left:0px;
}

QWidget .QFrame#frame_4 .QLabel#labelzBalanceImmatureText { /* Immature zANK Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#4ea4fe;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;
/* min-height:35px; */
}

QWidget .QFrame#frame_4 .QLabel#labelzBalanceImmature { /* Immature zANK Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
font-weight:bold;
color:#4ea4fe;
margin-left:0px;
}

QWidget .QFrame#frame_3 .QLabel#label_5z { /* Combined Balance Label */
qproperty-alignment: 'AlignVCenter | AlignLeft';
min-width:160px;
background-color:transparent;
color:#248fff;
font-weight:bold;
font-size:14px;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame_3 .QLabel#labelBalanceTextz { /* Available ANK Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#4ea4fe;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;
/* min-height:35px; */
}

QWidget .QFrame#frame_3 .QLabel#labelBalancez { /* Available ANK Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
font-weight:bold;
color:#4ea4fe;
margin-left:0px;
}

QWidget .QFrame#frame_3 .QLabel#labelzBalanceTextz { /* Available zANK Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#4ea4fe;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;
/* min-height:35px; */
}

QWidget .QFrame#frame_3 .QLabel#labelzBalancez { /* Available zANK Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
font-weight:bold;
color:#4ea4fe;
margin-left:0px;
}

QWidget .QFrame#frame_3 .QLabel#labelLockedBalanceText { /* Available zANK Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#4ea4fe;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;
/* min-height:35px; */
}

QWidget .QFrame#frame_3 .QLabel#labelLockedBalance { /* Available zANK Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
font-weight:normal;
color:#4ea4fe;
margin-left:0px;
}

QWidget .QFrame#frame_3 .QLabel#labelUnLockedBalanceText { /* Available zANK Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#4ea4fe;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;
/* min-height:35px; */
}

QWidget .QFrame#frame_3 .QLabel#labelUnLockedBalance { /* Available zANK Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
font-weight:normal;
color:#4ea4fe;
margin-left:0px;
}

QWidget .QFrame#frame_3 .QLabel#labelTotalTextz { /* Available total Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#4ea4fe;
color:#fff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;
/* min-height:35px; */
}

QWidget .QFrame#frame_3 .QLabel#labelTotalz { /* Available total Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
font-weight:bold;
color:#4ea4fe;
margin-left:0px;
}

/**************************** RECENT TRANSACTIONS ***************************************/
QWidget .QFrame#frame_Content {
  padding:4px 6px;
  margin:4px;
  color:#fff;
}


QWidget .QFrame#frame_2 { /* Transactions Widget */
min-width:410px;
min-height:100px;
margin-right:20px;
margin-left:0;
margin-top:0;
background-image: url(':/images/anker_logo_horizontal');
background-repeat:none;
color:#f0f0f0;
}

QWidget .QFrame#frame_2 .QLabel#label_4 { /* Recent Transactions Label */
min-width:180px;
color:#248fff;
margin-left:67px;
margin-top:83px;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:15px;
min-height:24px;
}

QWidget .QFrame#frame_2 .QLabel#labelTransactionsStatus { /* Recent Transactions Sync Status */
qproperty-alignment: 'AlignBottom | AlignRight';
min-width:93px;
margin-top:83px;
margin-left:16px;
margin-right:5px;
min-height:16px;
color:#248fff;

}

QWidget .QFrame#frame_2 QListView { /* Transaction List */
font-weight:normal;
font-size:12px;
color:#248fff;

max-width:369px;
margin-top:12px;
margin-left:0px; /* CSS Voodoo - set to -66px to hide default transaction icons */
}

/**************************** SEND DIALOG ***********************************************/

QWidget#SendCoinsDialog .QFrame#frame_BG {
  padding:4px 6px;
  margin:4px;
  color:#fff;
  border-radius:6px;
  background-color:#1e2d3e;
}


QDialog#SendCoinsDialog .QFrame#frameCoinControl { /* Coin Control Section */
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl > .QLabel { /* Default Font Color and  Size */
font-weight:normal;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QPushButton#pushButtonCoinControl { /* Coin Control Inputs Button */
padding-left:10px;
padding-right:10px;
min-height:25px;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlFeatures { /* Coin Control Header */
color:#333;
font-weight:bold;
font-size:14px;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QWidget#widgetCoinControl { /* Coin Control Inputs */
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QWidget#widgetCoinControl > .QLabel { /* Coin Control Inputs Labels */
padding:2px;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QCheckBox#checkBoxCoinControlChange { /* Custom Change Label */
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QValidatedLineEdit#lineEditCoinControlChange { /* Custom Change Address */
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlChangeLabel { /* Custom Change Address Validation Label */
font-weight:normal;
qproperty-margin:-6;
margin-right:112px;
}

QDialog#SendCoinsDialog .QScrollArea#scrollArea .QWidget#scrollAreaWidgetContents { /* Send To Widget */
background:transparent;
}

QDialog#SendCoinsDialog .QPushButton#sendButton { /* Send Button */
padding-left:10px;
padding-right:10px;
min-height:25px;
}

QDialog#SendCoinsDialog .QPushButton#clearButton { /* Clear Button */
background-color:#32465c;
border:none;
color:#fff;
padding-left:10px;
padding-right:10px;
min-height:25px;
}

QDialog#SendCoinsDialog .QPushButton#clearButton:hover {
color:#c0c0c0;
}

QDialog#SendCoinsDialog .QPushButton#clearButton:pressed {
border:1px solid #9e9e9e;
}

QDialog#SendCoinsDialog .QPushButton#addButton { /* Add Button */
background-color:#32465c;
border:none;
color:#fff;
padding-left:10px;
padding-right:10px;
min-height:25px;
}

QDialog#SendCoinsDialog .QPushButton#addButton:hover {
color:#c0c0c0;
}

QDialog#SendCoinsDialog .QPushButton#addButton:pressed {
border:1px solid #9e9e9e;
}

QDialog#SendCoinsDialog .QCheckBox#checkUseObfuscation { /* Obfuscation Checkbox */
color:#616161;
font-weight:bold;
background:transparent;
/*background: qradialgradient(cx:0.5, cy:0.5, radius: 0.5, fx:0.5, fy:0.5, stop:0 rgba(248, 246, 246, 128), stop: 1 rgba(0, 0, 0, 0));*/
border-radius:5px;
padding-top:20px;
padding-bottom:18px;
}

QDialog#SendCoinsDialog .QCheckBox#checkSwiftTX { /* SwiftTX Checkbox */
color:#c0c0c0;
font-weight:bold;
background:transparent;
/*background: qradialgradient(cx:0.5, cy:0.5, radius: 0.5, fx:0.5, fy:0.5, stop:0 rgba(248, 246, 246, 128), stop: 1 rgba(0, 0, 0, 0));*/
border-radius:5px;
padding-top:20px;
padding-bottom:18px;
margin-left:10px;
margin-right:20px;
}

/* This QLabel uses name = "label" which conflicts with Address Book -> New Address */
/* To maximize backwards compatibility this formatting has been removed */

QDialog#SendCoinsDialog QLabel#label {
/*margin-left:20px;
margin-right:-2px;
padding-right:-2px;
color:#616161;
font-size:14px;
font-weight:bold;
border-radius:5px;
padding-top:20px;
padding-bottom:20px;*/
min-height:27px;
color:#fff;
}

QDialog#SendCoinsDialog QLabel#labelBalance {
margin-left:0px;
padding-left:0px;
color:#fff;
/* font-weight:bold;
border-radius:5px;
padding-top:20px;
padding-bottom:20px; */
min-height:27px;
}

/**************************** SEND COINS ENTRY ******************************************/

QStackedWidget#SendCoinsEntry .QFrame#SendCoins > .QLabel { /* Send Coin Entry Labels */
background-color:transparent;
min-width:102px;
font-weight:bold;
font-size:11px;
color:#ffffff;
min-height:25px;
margin-right:5px;
padding-right:5px;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QLabel#amountLabel {
background-color:transparent;
}

QStackedWidget#SendCoinsEntry .QValidatedLineEdit#payTo { /* Pay To Input Field */
}

QStackedWidget#SendCoinsEntry .QToolButton { /* General Settings for Pay To Icons */
background-color:#787878;
}


QStackedWidget#SendCoinsEntry .QToolButton#addressBookButton {
     padding:0px;
     qproperty-iconSize: 28px;
     background-color:transparent;
}

QStackedWidget#SendCoinsEntry .QToolButton#pasteButton {
     padding:0px;
     qproperty-iconSize: 28px;
     background-color:transparent;
}

QStackedWidget#SendCoinsEntry .QToolButton#deleteButton {
     padding:0px;
     qproperty-iconSize: 28px;
     background-color:transparent;
}

QStackedWidget#SendCoinsEntry .QToolButton#emailbtn {
  qproperty-icon: url(":/icons/emailbtn");
  background-color:transparent;
}

QStackedWidget#SendCoinsEntry .QLineEdit#addAsLabel { /* Pay To Input Field */
}

/**************************** COIN CONTROL POPUP ****************************************/

QDialog#CoinControlDialog .QLabel#labelCoinControlQuantityText { /* Coin Control Quantity Label */
min-height:30px;
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlQuantity { /* Coin Control Quantity */
min-height:30px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlBytesText { /* Coin Control Bytes Label */
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlBytes { /* Coin Control Bytes */
}

QDialog#CoinControlDialog .QLabel#labelCoinControlAmountText { /* Coin Control Amount Label */
min-height:30px;
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlAmount { /* Coin Control Amount */
min-height:30px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlPriorityText { /* Coin Control Priority Label */
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlPriority { /* Coin Control Priority */
}

QDialog#CoinControlDialog .QLabel#labelCoinControlFeeText { /* Coin Control Fee Label */
min-height:30px;
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlFee { /* Coin Control Fee */
min-height:30px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlLowOutputText { /* Coin Control Low Output Label */
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlLowOutput { /* Coin Control Low Output */
}

QDialog#CoinControlDialog .QLabel#labelCoinControlAfterFeeText { /* Coin Control After Fee Label */
min-height:30px;
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlAfterFee { /* Coin Control After Fee */
min-height:30px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlChangeText { /* Coin Control Change Label */
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlChange { /* Coin Control Change */

}

QDialog#CoinControlDialog .QFrame#frame .QPushButton#pushButtonSelectAll { /* (un)select all button */
padding-left:10px;
padding-right:10px;
min-height:25px;
}

QDialog#CoinControlDialog .QFrame#frame .QPushButton#pushButtonToggleLock { /* Toggle lock state button */
padding-left:10px;
padding-right:10px;
min-height:25px;
}

QDialog#CoinControlDialog .QDialogButtonBox#buttonBox QPushButton { /* Coin Control 'OK' button */
}

QDialog#CoinControlDialog .QFrame#frame .QRadioButton#radioTreeMode { /* Coin Control Tree Mode Selector */
color:#818181;
background-color:transparent;
}

QDialog#CoinControlDialog .QFrame#frame .QRadioButton#radioListMode { /* Coin Control List Mode Selector */
color:#818181;
background-color:transparent;
}

QDialog#CoinControlDialog QHeaderView::section:first { /* Bug Fix: the number "1" displays in this table for some reason... */
color:transparent;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget { /* Coin Control Widget Container */
outline:0;
background-color:#1e2d3e;
border:1px solid #333;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item {
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:selected { /* Coin Control Item (selected) */
background-color:#4ea4fe;
color:#fff;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:checked { /* Coin Control Item (checked) */
background-color:#f7f7f7;
color:#fff;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:selected { /* Coin Control Branch Icon */
background-image: url(':/images/qtreeview_selected');
background-repeat:no-repeat;
background-position:center;
background-color:#f7f7f7;
color:#333;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:checked { /* Coin Control Branch Icon */
background-image: url(':/images/qtreeview_selected');
background-repeat:no-repeat;
background-position:center;
background-color:#f7f7f7;
color:#333;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::seperator {

}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::indicator { /* Coin Control Widget Checkbox */

}

/**************************** RECEIVE COINS *********************************************/


QWidget#ReceiveCoinsDialog .QFrame#frame_BG {
  border-radius:6px;
  background-color:#1e2d3e;
  padding:4px 6px;
  margin:4px;
  color:#fff;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 .QLabel#label_2 { /* Label Label */
background-color:transparent;
min-width:102px;
color:#fff;
font-weight:bold;
font-size:11px;
padding-right:5px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 .QLabel#label { /* Amount Label */
background-color:transparent;
min-width:102px;
color:#ffffff;
font-weight:bold;
font-size:11px;
padding-right:5px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 .QLabel#label_3 { /* Message Label */
background-color:transparent;
min-width:102px;
color:#ffffff;
font-weight:bold;
font-size:11px;
padding-right:5px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton#clearButton { /* Clear Button */
background-color:#32465c;
border:none;
color:#fff;
padding-left:10px;
padding-right:10px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton#clearButton:hover {
color:#c0c0c0;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton#clearButton:pressed {
border:1px solid #9e9e9e;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#showRequestButton { /* Show Button */
background-color:#32465c;
border:none;
color:#fff;
padding-left:10px;
padding-right:10px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#showRequestButton:hover {
color:#c0c0c0;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#showRequestButton:pressed {
border:1px solid #9e9e9e;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#removeRequestButton { /* Remove Button */
background-color:#32465c;
border:none;
color:#fff;
padding-left:10px;
padding-right:10px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#removeRequestButton:hover {
color:#c0c0c0;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#removeRequestButton:pressed {
border:1px solid #9e9e9e;
}

QWidget#ReceiveCoinsDialog .QFrame#frame .QLabel#label_6 { /* Requested Payments History Label */
color:#fff;
font-weight:bold;
font-size:14px;
}

/**************************** RECEIVE COINS DIALOG **************************************/

QDialog#ReceiveRequestDialog QTextEdit { /* Contents of Receive Coin Dialog */
border:1px solid #787878;
background-color:#29394b;
}


/**************************** TRANSACTIONS PAGE *****************************************/
QWidget#TransactionView .QFrame#frame_Content {
  padding:4px 6px;
  margin:4px;
  color:#fff;
}


TransactionView QLineEdit { /* Address Filter */
background-color:#29394b;
color:#fff;
}

TransactionView QLineEdit { /* Address Filter */
margin-bottom:2px;
margin-right:1px;
min-width:111px;
text-align:center;
}

TransactionView QComboBox {
background-color:#29394b;
color:#fff;
margin-bottom:1px;
margin-right:1px;
}

QLabel#transactionSumLabel { /* Example of setObjectName for widgets without name */
color:#333333;
font-weight:bold;
}
 
QLabel#transactionSum { /* Example of setObjectName for widgets without name */
color:#333333;
}

/**************************** TRANSACTION DETAILS DIALOG ********************************/

QDialog#TransactionDescDialog QTextEdit { /* Contents of Receive Coin Dialog */
color:#fff;
border:1px solid #787878;
}

/**************************** PRIVACY PAGE *****************************************/

/**************************** MASTERNODE LIST *******************************************/
QWidget#MasternodeList .QFrame#frame_Content {
  padding:16px;
  margin:4px;
  color:#fff;
  background-color:#1e2d3e;
  border-radius:6px;
}


QWidget#ColdstakingList .QFrame#frame_Content {
  padding:16px;
  margin:4px;
  color:#fff;
  background-color:#1e2d3e;
  border-radius:6px;
}


QWidget#WtransactionsPage {
  padding:16px;
  margin:10px;
  color:#fff;
  background-color:#1e2d3e;
  border-radius:6px;
}

/********************************* CALENDAR WIDGET **************************************/

QCalendarView {
border:1px solid #333;
background-color:#808080;
}

QCalendarWidget QWidget#qt_calendar_navigationbar { /* Calendar widget navigation bar */
background-color:#4ea4fe;
font-weight:bold;
}

QCalendarWidget QAbstractItemView { /* Calendar widget days */
alternate-background-color:#dedbe5;
background-color:#fff;
}

QCalendarWidget QAbstractItemView:enabled { /* Calendar widget weekdays in month */
color:#333;
}

QCalendarWidget QAbstractItemView:disabled { /* Calendar widget days not in month */
color:#818181;
}

QPushButton#personalIcon {
     qproperty-icon: url(":/icons/personal");
     padding:0px;
     qproperty-iconSize: 38px;
     background-color:#1e2d3e;
}
QPushButton#personal1Icon {
     qproperty-icon: url(":/icons/personal");
     padding:0px;
     margin:0px;
     qproperty-iconSize: 38px;
     background-color:#1e2d3e;
     border:none;
}
QPushButton#settingsIcon {
     qproperty-icon: url(":/icons/settings");
     padding:0px;
     qproperty-iconSize: 38px;
     background-color:#1e2d3e;
}
QPushButton#settings1Icon {
     qproperty-icon: url(":/icons/settings");
     padding:0px;
     margin:0px;
     qproperty-iconSize: 38px;
     background-color:#1e2d3e;
     border:none;
}
QWidget#panelWidget {
  background-color:#1e2d3e;
  border-radius:6px;

}
QPushButton#homeIcon {
     qproperty-icon: url(":/icons/home");
     padding:0px;
     qproperty-iconSize: 38px;
     background-color:#1e2d3e;
}
QLabel#mainlblQRCode {
    width:300px;
    height:300px;
    border-radius:6px;
    border:1px solid #e3e3e3;
}

